{{- if and (hasKey . "features") .features.enable_1password (lookPath "op") }}
[user]
	email = "{{ .secrets.git_user_email }}"
	signingkey = "{{ .secrets.git_signing_key }}"
	name = "{{ .user.name }}"
{{- else }}
[user]
	email = "{{ .user.email }}"
	signingkey = ""
	name = "{{ .user.name }}"
{{- end }}

[commit]
	gpgsign = true

[gpg]
	program = gpg
	format = ssh

[http]
{{- if and (hasKey . "features") .features.enable_proxy }}
	proxy = http://127.0.0.1:7890
{{- else }}
	# proxy = http://127.0.0.1:7890
{{- end }}

[https]
{{- if and (hasKey . "features") .features.enable_proxy }}
	proxy = http://127.0.0.1:7890
{{- else }}
	# proxy = http://127.0.0.1:7890
{{- end }}

[init]
	defaultBranch = main

[gpg "ssh"]
{{- if eq .chezmoi.os "windows" }}
	program = "C:/Users/{{ env "USERNAME" }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe"
{{- else if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
	allowedSignersFile = ~/.ssh/allowed_signers