[user]
	email = ln1.opensource@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAArnT6GyU/LYU9KVReTALHT5FYoBmoyVqI+Ko7HnGbm
	name = ln-one

[commit]
	gpgsign = true

[gpg]
	program = gpg
	format = ssh

[http]
{{- if .features.enable_proxy }}
	proxy = http://127.0.0.1:7890
{{- else }}
	# proxy = http://127.0.0.1:7890
{{- end }}

[https]
{{- if .features.enable_proxy }}
	proxy = http://127.0.0.1:7890
{{- else }}
	# proxy = http://127.0.0.1:7890
{{- end }}

[init]
	defaultBranch = main

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers