{{- if and (hasKey . "features") .features.enable_1password }}
[user]
	email = "{{ .secrets.git_user_email }}"
	signingkey = "{{ .secrets.git_signing_key }}"
	name = ln-one
{{- else }}
[user]
	email = "user@example.com"
	signingkey = ""
	name = ln-one
{{- end }}

[commit]
	gpgsign = true

[gpg]
	program = gpg
	format = ssh

[http]
{{- if and (hasKey . "features") .features.enable_proxy }}
	proxy = http://127.0.0.1:7890
{{- else }}
	# proxy = http://127.0.0.1:7890
{{- end }}

[https]
{{- if and (hasKey . "features") .features.enable_proxy }}
	proxy = http://127.0.0.1:7890
{{- else }}
	# proxy = http://127.0.0.1:7890
{{- end }}

[init]
	defaultBranch = main

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers